nav {
    background: linear-gradient(rgb(212, 227, 2), rgb(9, 9, 9));
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    background-color: rgb(211, 208, 24);
    text-align: center;
}

h2 {
    color: rgb(193, 172, 14);
}

table {
    background-color: rgb(243, 238, 85);
    font-size: 40px;
}

th,
td {
    border: 1px solid black;
}

td {
    padding: 10px;
}